<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <preference for="Magento\Payment\Gateway\Http\ConverterInterface" type="ZingyBits\CitizenCore\Gateway\Http\Converter\JsonToArray" />
    <preference for="ZingyBits\CitizenCore\Api\ConfigInterface" type="ZingyBits\CitizenCore\Model\Config" />

    <!-- Payment Method Facade configuration -->
    <virtualType name="CitizenPaymentGatewayFacade" type="Magento\Payment\Model\Method\Adapter">
        <arguments>
            <argument name="code" xsi:type="const">ZingyBits\CitizenCore\Gateway\Config\Config::CODE</argument>
            <argument name="formBlockType" xsi:type="string">Magento\Payment\Block\Form</argument>
            <argument name="infoBlockType" xsi:type="string">Magento\Payment\Block\Info</argument>
            <argument name="valueHandlerPool" xsi:type="object">CitizenPaymentGatewayValueHandlerPool</argument>
            <argument name="commandPool" xsi:type="object">CitizenPaymentGatewayCommandPool</argument>
        </arguments>
    </virtualType>

    <!-- Configuration reader -->
    <virtualType name="CitizenPaymentGatewayConfig" type="Magento\Payment\Gateway\Config\Config">
        <arguments>
            <argument name="methodCode" xsi:type="const">ZingyBits\CitizenCore\Gateway\Config\Config::CODE</argument>
        </arguments>
    </virtualType>

    <!-- Custom Payment Logger - stripping out sensitive data -->
    <virtualType name="CitizenPaymentGatewayLogger" type="Magento\Payment\Model\Method\Logger">
        <arguments>
            <argument name="config" xsi:type="object">CitizenPaymentGatewayConfig</argument>
        </arguments>
    </virtualType>

    <!-- Value handlers infrastructure -->
    <virtualType name="CitizenPaymentGatewayValueHandlerPool" type="Magento\Payment\Gateway\Config\ValueHandlerPool">
        <arguments>
            <argument name="handlers" xsi:type="array">
                <item name="default" xsi:type="string">CitizenPaymentGatewayConfigValueHandler</item>
            </argument>
        </arguments>
    </virtualType>
    <virtualType name="CitizenPaymentGatewayConfigValueHandler" type="Magento\Payment\Gateway\Config\ConfigValueHandler">
        <arguments>
            <argument name="configInterface" xsi:type="object">CitizenPaymentGatewayConfig</argument>
        </arguments>
    </virtualType>

    <!-- Curl custom params -->
    <type name="ZingyBits\CitizenCore\Gateway\Http\Client\Curl">
        <arguments>
            <argument name="logger" xsi:type="object">CitizenPaymentGatewayLogger</argument>
            <argument name="converter" xsi:type="object">ZingyBits\CitizenCore\Gateway\Http\Converter\JsonToArray</argument>
            <argument name="config" xsi:type="object">CitizenPaymentGatewayConfig</argument>
        </arguments>
    </type>

    <!-- COMMANDS structure -->
    <virtualType name="CitizenPaymentGatewayCommandPool" type="Magento\Payment\Gateway\Command\CommandPool">
        <arguments>
            <argument name="commands" xsi:type="array">
                <item name="initialize" xsi:type="string">CitizenPaymentPayInSessionCreateCommand</item>
                <item name="transaction-status" xsi:type="string">CitizenPaymentTransactionStatusCommand</item>
                <item name="account-add-redirect" xsi:type="string">CitizenPaymentAccountAddRedirectCommand</item>
<!--                <item name="account-new" xsi:type="string">CitizenPaymentAccountCreateCommand</item>-->
            </argument>
        </arguments>
    </virtualType>

    <!-- Pay-In Session create command -->
    <virtualType name="CitizenPaymentPayInSessionCreateCommand" type="ZingyBits\CitizenCore\Gateway\Command\ResponseCommand">
        <arguments>
            <argument name="requestBuilder" xsi:type="object">CitizenPaymentPayInSessionCreateRequestBuilderComposite</argument>
            <argument name="transferFactory" xsi:type="object">CitizenPaymentPayInSessionCreateTransferFactory</argument>
            <argument name="client" xsi:type="object">ZingyBits\CitizenCore\Gateway\Http\Client\Curl</argument>
            <argument name="handler" xsi:type="object">CitizenPaymentPayInSessionCreateResponseHandlerComposite</argument>
            <argument name="validator" xsi:type="object">CitizenPaymentPayInSessionCreateValidator</argument>
        </arguments>
    </virtualType>
    <!-- Pay-In Session create Request Builder -->
    <virtualType name="CitizenPaymentPayInSessionCreateRequestBuilderComposite" type="Magento\Payment\Gateway\Request\BuilderComposite">
        <arguments>
            <argument name="builders" xsi:type="array">
                <item name="pay_in_session_create_builder" xsi:type="string">ZingyBits\CitizenCore\Gateway\Request\PayInSessionCreateDataBuilder</item>
            </argument>
        </arguments>
    </virtualType>
    <!-- Pay-In Session create Transfer Factory -->
    <virtualType name="CitizenPaymentPayInSessionCreateTransferFactory" type="ZingyBits\CitizenCore\Gateway\Http\PaymentTransferFactory">
        <arguments>
            <argument name="mapper" xsi:type="object">ZingyBits\CitizenCore\Gateway\Request\Mapper\PayInSessionCreateRequestMapper</argument>
        </arguments>
    </virtualType>
    <!-- Pay-In Session create Response handler -->
    <virtualType name="CitizenPaymentPayInSessionCreateResponseHandlerComposite" type="Magento\Payment\Gateway\Response\HandlerChain">
        <arguments>
            <argument name="handlers" xsi:type="array">
                <item name="add_new_transaction" xsi:type="string">ZingyBits\CitizenCore\Gateway\Response\AddNewTransactionHandler</item>
            </argument>
        </arguments>
    </virtualType>
    <!-- Pay-In Session create Response Validators  -->
    <virtualType name="CitizenPaymentPayInSessionCreateValidator" type="Magento\Payment\Gateway\Validator\ValidatorComposite">
        <arguments>
            <argument name="validators" xsi:type="array">
                <item name="gateway_response_valid" xsi:type="string">ZingyBits\CitizenCore\Gateway\Validator\GatewayResponseValidator</item>
                <item name="response_not_empty" xsi:type="string">ZingyBits\CitizenCore\Gateway\Validator\ResponseNotEmptyValidator</item>
            </argument>
        </arguments>
    </virtualType>


    <!-- Pay-In Transaction Status command -->
    <virtualType name="CitizenPaymentTransactionStatusCommand" type="ZingyBits\CitizenCore\Gateway\Command\ResponseCommand">
        <arguments>
            <argument name="requestBuilder" xsi:type="object">CitizenPaymentTransactionStatusRequestBuilderComposite</argument>
            <argument name="transferFactory" xsi:type="object">CitizenPaymentTransactionStatusTransferFactory</argument>
            <argument name="client" xsi:type="object">ZingyBits\CitizenCore\Gateway\Http\Client\Curl</argument>
            <argument name="handler" xsi:type="object">CitizenPaymentTransactionStatusResponseHandlerComposite</argument>
        </arguments>
    </virtualType>

    <!-- Pay-In Transaction Status Request Builder -->
    <virtualType name="CitizenPaymentTransactionStatusRequestBuilderComposite" type="Magento\Payment\Gateway\Request\BuilderComposite">
        <arguments>
            <argument name="builders" xsi:type="array">
                <item name="pay_in_transaction_status_builder" xsi:type="string">ZingyBits\CitizenCore\Gateway\Request\PayInTransactionStatusDataBuilder</item>
            </argument>
        </arguments>
    </virtualType>
    <!-- Pay-In Transaction Status Transfer Factory -->
    <virtualType name="CitizenPaymentTransactionStatusTransferFactory" type="ZingyBits\CitizenCore\Gateway\Http\PaymentTransferFactory">
        <arguments>
            <argument name="mapper" xsi:type="object">ZingyBits\CitizenCore\Gateway\Request\Mapper\PayInTransactionStatusRequestMapper</argument>
        </arguments>
    </virtualType>
    <!-- Payment Status handler -->
    <virtualType name="CitizenPaymentTransactionStatusResponseHandlerComposite" type="Magento\Payment\Gateway\Response\HandlerChain">
        <arguments>
            <argument name="handlers" xsi:type="array">
                <item name="pay_in_transaction_status_handler" xsi:type="string">ZingyBits\CitizenCore\Gateway\Response\TransactionStatusHandler</item>
            </argument>
        </arguments>
    </virtualType>


    <!-- Account Add Redirect command -->
    <virtualType name="CitizenPaymentAccountAddRedirectCommand" type="ZingyBits\CitizenCore\Gateway\Command\ResponseCommand">
        <arguments>
            <argument name="requestBuilder" xsi:type="object">CitizenPaymentAccountAddRedirectBuilderComposite</argument>
            <argument name="transferFactory" xsi:type="object">ZingyBits\CitizenCore\Gateway\Http\AccountAddRedirectTransferFactory</argument>
            <argument name="client" xsi:type="object">ZingyBits\CitizenCore\Gateway\Http\Client\Curl</argument>
        </arguments>
    </virtualType>

    <!-- Account Add Redirect Request Builder -->
    <virtualType name="CitizenPaymentAccountAddRedirectBuilderComposite" type="Magento\Payment\Gateway\Request\BuilderComposite">
        <arguments>
            <argument name="builders" xsi:type="array">
                <item name="account_add_redirect_builder" xsi:type="string">ZingyBits\CitizenCore\Gateway\Request\AccountAddRedirectDataBuilder</item>
            </argument>
        </arguments>
    </virtualType>


    <!-- ConfigInterface instantiation -->
    <type name="ZingyBits\CitizenCore\Model\Config">
        <arguments>
            <argument name="config" xsi:type="object">CitizenPaymentGatewayConfig</argument>
        </arguments>
    </type>

    <!-- Save admin settings - beforeSave plugin -->
    <type name="ZingyBits\CitizenCore\Plugin\Backend\Magento\Config\Model\ConfigPlugin">
        <arguments>
            <argument name="commandPool" xsi:type="object">CitizenPaymentGatewayCommandPool</argument>
        </arguments>
    </type>

</config>
